# Configs da aplicação
PORT=3000
NODE_ENV=development

# Configurações do banco de dados
DB_HOST=localhost
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name



# Configurações do JWT
JWT_SECRET_KEY=your_jwt_secret_key
JWT_EXPIRES_IN=1h